
     .pagination a {
       color: black;
       float: center;
       padding: 8px 16px;
       text-decoration: none;
     }

     .pagination a.active {
       background-color: white;
       color: white;
     }

    .pagination a:hover:not(.active) {background-color: pink;}
     p.solid {border-style: solid;}
 
 
  .center {
  text-align: center;
}



  
  
  
  
